################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Exportacion/3D IXACHI AL 020322.rar
/Exportacion/3D IXACHI.ldb
/Exportacion/3D IXACHI.mdb
